.nestedLevel {
    padding-left: 40px;
    overflow: hidden;
    height: 100%;
    transition: all .6s;
}

.nestedLevelCollapsed {
    padding-left: 0;
    margin: 0;
}

.nodeTitle {
    cursor: pointer;
}

.titleWrapper {
    display: flex;
    align-items: center;
}